/* Селектор */
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*  Селектор тега */
header {
  /* Картинка на задний фон */
  background-image: url(./img/main-bg.png);
  background-position: center;
  background-size: cover;
  backdrop-filter: contrast(150%);
  backdrop-filter: saturate(150%);
  /* Задаём ширину элемента */
  width: 100%;
  height: 197px;
}